*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    margin: 2rem;
}

.header{
    height: 3rem;
    background: rgb(112, 112, 236);
}

.hero{
    margin: 3rem 0;
    height: 7rem;
    background: rgb(112, 112, 236);
}

.testimonials{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonials > div{
    width: 300px;
    height: 350px;
    background: rgb(112, 112, 236);
}

footer{
    background: rgb(112, 112, 236);
    height: 3rem;
    margin-top: 3rem;
}