*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    margin: 0 auto;
    width: 90%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img{
    width: 100px;
    height: 100px;
}

.side__header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.create__account{
    padding: 10px 15px;
    background: white;
    border: 1px solid rgba(162, 158, 158,0.4);
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(162, 158, 158,0.4);
}

.main__content{
    margin: 0 auto;
    width: 40%;
    padding: 4rem;
}

.main__content h1{
    font-weight: 400;
    text-align: center;
    margin-bottom: 2rem;
}

.open__id-btn{
    width: 100%;
    background: #0166d6;
    border: transparent;
    border-radius: 6px;
    padding: 5px;
    height: 2.2rem;
    color: white;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.alt__sign-in{
    position: relative;
}

.alt__text{
    position: absolute;
    top: -10px;
    left: 30%;
    display: block;
  color: #666;
  background: #fff;
}
.email__field{
    margin-top: 2rem;
}
.email__field label{
    font-weight: 500;
    font-size: 1.2rem;
}

input[type='text'],input[type='password']{
    width: 100%;
    margin: 1rem 0;
    height: 2.2rem;
    padding: 0 10px;
    border: 1px solid #666;
    outline: none !important;
    border-radius: 6px;
}

.input:focus{
    outline: none !important;
    border: 2px solid #0166d6;
}

.password__caption{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.password__caption a{
    text-decoration: none;
}
.btn__submit{
    width: 100%;
    margin-top: 1rem;
    height: 2.2rem;
    background: #0faf51;
    color: white;
    padding: 5px;
    border: transparent;
    border-radius: 6px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__nav{
    display: flex;
    gap: 1rem;
}
.footer__nav a{
    text-decoration: none;
}